.campaign-nav {
    display: flex;
    justify-content: space-around;
    width: 25rem;
}

.campaign-nav h3 {
    cursor: pointer;
}

.new-campaign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.processor-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.processor-container::-webkit-scrollbar {
    display: none;
}

.config-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    gap: 1rem;
    width: 100%;
    text-align: center;
}

.config-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}

.upload-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.gpt-array {
    display: flex;
    flex-direction: column;
}

.new-campaign-container .gpt {
    color: #FFFFFF;
}

.gpt {
    border: 1px solid;

}

.gpt:hover {
    cursor: pointer;
    border-color: #8cfc86;
    border-width: 2px;
}

.gpt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(12px);
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgb(47, 51, 54);
    margin-top: 3rem;
    width: 60%;
}

.file-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.processor-container input {
    width: 90%;
}

input {
    padding: 5px 12px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #03DAC5;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;    
}
input:focus {
    border-color: #03DAC5;
    outline: none;
    box-shadow: rgba(3, 218, 197, .8) 0px 0px 0px 5px;
}

.scheduler-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-datetime-picker__wrapper {
    display: flex;
    justify-content: center;
    padding: 0 .5rem;
}

.react-datetime-picker__wrapper input {
    box-shadow: none;
}

.react-datetime-picker__clear-button, .react-datetime-picker__button {
    align-items: center;
}

.react-calendar__viewContainer {
    background-color: #000000;
}

.react-calendar__navigation {
    background-color: #000000;
}

.scheduler-container .react-datetime-picker__button__icon {
    stroke: #FFFFFF
}

.scheduler-container .react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon, .react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon, .scheduler-container .react-datetime-picker__clear-button.react-datetime-picker__button {
    stroke: #03DAC5;
}

.scheduler-container .react-calendar__tile--now {
    background:rgba(3, 218, 197, .8)
}
.scheduler-container .react-calendar__tile--now:enabled:hover {
    background: #202223
}

@media (max-width: 600px) {
    .config-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        align-items: center;
        width: 100%;
    }
    .config-select-container {
        margin-top: 2rem;
    }
    .upload-container {
        display: flex;
        flex-direction: column;
    }
    .processor-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }
    .gpt-container {
        width: 90%;
    }
    #gpt-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #mobile {
        margin-bottom: 5rem;
    }
    input {
        width: 90%;
    }
}

@media (max-width: 875px) {
    .upload-container {
        grid-template-columns: 1fr;
    }
}

.no-configs {
    width: fit-content;
}

.upload-button {
    margin-top: 1rem;
}

input#email,input#text {
    width: 2rem;
    box-shadow: none;
    text-align: center;
}

#radio {
    display: flex;
    align-items: center;
    font-size: larger;
    accent-color: #03DAC5;
}

.radio-container {
    display: flex;
    flex-direction: column;
}

button {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}
button:hover {
    border: 1px solid transparent;
    color: #03DAC5;
}

p {
    font-weight: bold;
    font-size: 1.25rem;
    white-space: pre-wrap;
    border-radius: .5rem;
    padding: 1rem;
}

:root {
    --select-border: #000000;
    --select-focus: #03DAC5;
    --select-arrow: var(--select-border);
}

select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    z-index: 1;

    outline: none;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;

    min-width: 15ch;
    max-width: 30ch;

    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;

    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;

    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    width: fit-content;
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}