.campaign-nav {
    display: flex;
    justify-content: space-around;
    width: 90%;
    z-index: 3;
}

.campaign-nav h5 {
    cursor: pointer;
}

.processor-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.processor-container::-webkit-scrollbar {
    display: none;
}

.page-indicator {
    margin-top: 4rem;
}

.config-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    gap: 1rem;
    width: 100%;
    text-align: center;
}

.config-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}

.upload-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.gpt-array {
    display: flex;
    flex-direction: column;
}

.gpt-selected {
    border-style: solid;
    border-width: 2px;
    border-color: #8cfc86;
}

.gpt:hover, .gpt-selected:hover {
    cursor: pointer;
    border-color: #8cfc86;
    border-width: 2px;
}

.gpt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .5);
    width: 80%;
    /* disable scrollbar visual */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-bottom: 5rem;


    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background: inherit;
}

.gpt-container:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 1000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    background: inherit;
    z-index: -1;
}

.gpt-container::-webkit-scrollbar {
    display: none;
  }

.gpt-container#history {
    gap: 1rem;
}

.campaign-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 2rem 2rem;
    border: 1px solid;
    border-radius: 8px;
    width: 100%;
    position: relative;
    font-size: 12px;
    gap: .5rem;
}

.campaign-info h3 {
    margin: 0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.campaign-info h3 div {
    font-weight: normal;
}

.campaign-info p {
    margin: 0rem;
    padding: 0.5rem;
    font-weight: normal;
    font-size: inherit;
}

#history-mobile {
    display: none;
}

#del {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 95%;
    margin-top: 1rem;
    cursor: pointer;
    border: 2px solid #CF6679;
    border-radius: 36px;
    width: 1rem;
    height: 1rem;
    background-color: #121212;
}

#del:hover {
    color: #CF6679;
}

.campaign-info:hover #del {
    display: flex;
}


.file-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.processor-container input {
    width: 90%;
}

input {
    padding: 5px 12px;
    line-height: 20px;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(255,255,255,.2);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #8cfc86;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;    
}
input::placeholder {
    color: #fff
}
input[type='file']::file-selector-button {
    border: .5px solid rgba(255, 255, 255, .5);
    background-color: rgba(255,255,255,.2);
    color: #fff;
}
input:focus {
    border-color: #8cfc86;
    outline: none;
    box-shadow: rgba(3, 218, 197, .8) 0px 0px 0px 2px;
}

.scheduler-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .config-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        align-items: center;
        width: 100%;
    }
    .config-select-container {
        margin-top: 2rem;
    }
    .upload-container {
        display: flex;
        flex-direction: column;
    }
    .processor-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gpt-container {
        width: 90%;
    }
    #gpt-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #mobile {
        margin-bottom: 5rem;
    }
    input {
        width: 90%;
    }
    .campaign-info {
        grid-template-columns: 1fr 1fr;
    }
    #scheduled-mobile {
        display: none;
    }
    #history-mobile {
        display: flex;
    }
    #del {
        display: grid;
        left: 90%;
    }
    .gpt-container:before {
        box-shadow: inset 0 0 600px rgba(255, 255, 255, .5);
    }
}

@media (max-width: 875px) {
    .upload-container {
        grid-template-columns: 1fr;
    }
}

.no-configs {
    width: fit-content;
}

.upload-button {
    margin-top: 1rem;
}

input#email,input#text {
    width: 2rem;
    box-shadow: none;
    text-align: center;
}

#radio {
    display: flex;
    align-items: center;
    font-size: larger;
    accent-color: #8cfc86;
}

.radio-container {
    display: flex;
    flex-direction: column;
}

button {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}
button:hover {
    border: 1px solid transparent;
    color: #8cfc86;
}

p {
    font-weight: bold;
    font-size: 1.25rem;
    white-space: pre-wrap;
    border-radius: .5rem;
    padding: 1rem;
}

:root {
    --select-border: rgba(255,255,255,.5);
    --select-focus: #8cfc86;
    --select-arrow: var(--select-border);
}

select {
    background-color: inherit;
    color: #fff;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    z-index: 1;

    outline: none;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;

    min-width: 15ch;
    max-width: 30ch;

    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;

    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    width: fit-content;
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}