.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0 0 0 / 0.35);
    border-bottom-width: 1px;
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-style: solid;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

h1 span {
    color: #8CFC86;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1 .5rem;
}

.header li {
    height: 1.625rem;
}

.header h1 {
    margin-right: 2.5rem;
}

.header a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
}

#img {
    height: 1rem;
    width: 1rem;
    border-radius: 20px;
    padding: .25rem;
    cursor: pointer;
}


#ai {
    height: 1rem;
    max-width: 1rem;
    padding: .25rem;
    cursor: pointer;
}

#logo {
    height: 1rem;
    background-color: #8CFC86;
    margin-right: 2rem;
    border-radius: 6px;
    padding: .25rem
}

.header #img:hover, .header #ai:hover {
    border: 1px solid;
    border-color: #03DAC5;
    border-radius: 20px;
    background-color: transparent;
  }

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        padding: 1rem;
        align-items: flex-start;
    }
    .header h1 {margin-right: 0;}
    .header ul {
        display: none;
    }
    .header,h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    #logo {
        margin-right: 0;
    }
}