.template-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.template-save-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-indicator h5 {
    margin: 0 0 1rem 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.config-container {
    margin-bottom: 0;
}

.delivery-container {
    margin: 2rem 0;
}

.gpt-container input {
    width: 90%;
}

.gpt-container form {
    width: 100%;
}

#name {
    width: auto;
}

.template-name-edit-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.template-name-edit-container button#delete {
    width: auto;
    margin: 0;
}

@media (max-width: 600px) {
    .template-name-edit-container {
        flex-direction: column;
        align-content: center;
    }
}