.template-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.template-save-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-indicator h5 {
    margin: 0 0 1rem 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.config-container {
    margin-bottom: 0;
}

.delivery-container {
    margin: 2rem 0;
}

.gpt-container input {
    width: 90%;
}

.gpt-container form {
    width: 100%;
}

#name {
    width: auto;
}